
<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" style="z-index: 1000">
  <ion-slide>
    <div class="l_img lunbo01"><img src="images/lead_img.jpg">
          <div class="yindao_zi">
                       <span class="zi_big"> 装修利器随时随地掌控</span>
                       <sapn class="yindao_x"> <span class="zi_sam">设计，施工，采买，三方服务
                        （监理，安全支付）省心 安心 更放心！ </span>
                        </span>
          </div>
          <a href="#/home/index" class="yindao_go">开始 </a>

    </div>
  </ion-slide>
  
  <ion-slide>
    <div class="l_img lunbo02"><img src="mages/lead_img02.jpg"></div>
  </ion-slide>
 <ion-slide>
    <div class="l_img lunbo03" ><img src="images/lead_img03.jpg"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink" style="background-color: pink; height: 100%"><h1>PINK</h1>
    <div style="padding:20px;">
      <a href="#/home/index" class="button button-full button-outline button-positive">即刻启程</a>

    </div>
    </div>
  </ion-slide>
</ion-slide-box>
