<ion-modal-view class="product edit create">

            <ion-header-bar class="bar-positive fix-buttons bar-calm">
              <a class="ion-ios-arrow-back" style="font-size:24px; display: block; width: 40px; height: 40px; padding-top: 5px; text-align: center;" ng-click="closeModal()"></a>
              <h1 class="title">城市</h1>
            </ion-header-bar>
<ion-content has-bouncing="true">
              
              
             
  <div class="list">
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Go
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
<label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Go
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Go
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

</div>



            </ion-content>
</ion-modal-view>