
<ion-view view-title="重设密码" ng-controller="passwordCtrl" ng-init="initData()">

<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-chevron-left"></ion-nav-back-button>
</ion-nav-bar> 

<ion-content class="botm56" style="padding: 10px;" has-bouncing="false">

    <div class="yzm_div">
      <p class="yzm_span">手机通过验证后，系统会将新密码发送给您以登录系统，您可以在系统中修改密码</p>
       <div class="list padding">
          <label class="item item-input ion-person">
            <input type="text" placeholder="手机号码"  ng-model="user.telephone" >
          </label>
          <div style="margin: 10px 0; overflow:hidden;">
            <input type="text" placeholder="短信验证码" ng-model="user.validate" class="input_validSend">
            <a href="" class="{{btnSend.classname || 'btn_validSend'}}" ng-click="validSend()">{{btnSend.txt || '发送短信验证码'}}</a>
          </div>
       </div>
      </label>
    </div>
    <span class="">
      <a href="" class="button button-block button-positive02" ng-click="operateSuccess()">下一步 </a>
      <p class="fal_right">  <a href="" class="zi">收不到验证码？</a></p>
    </span>

</ion-content>

<ng-include src="'templates/public_bottom.html'"></ng-include>
</ion-view>
