<ion-modal-view ng-controller="setCtrl">
  <ion-header-bar class="bar-positive">
    <h1 class="title" >关于易家装<a class="modalClose" ng-click="decorateNeedDone()">关闭</a></h1>
  </ion-header-bar>

<ion-content class="botm56" has-bouncing="false">
   <div class="l_img "><img src="../images/login_pic.jpg"></div>
   <div class="person_block magrin_t20">
      <ul class="list ">
        <!-- 可以直接链接到浏览器 -->
        <li class="item item_icon_d   ">
          <a href="" class="person_list_a "> 
            <span class="person_list__span"> 去评分 </span> 
          </a>
        </li>
        
        <li class="item item_icon_d">
          <a class="person_list_a"> 
            <span class="person_list__span">功能介绍 </span> 
          </a>
        </li>
        
        <li class="item item_icon_d">
          <a href="http://www.yijiazhuang.cn/Foot/contact.shtml" class="person_list_a "> 
            <span class="person_list__span">帮助与反馈 </span> 
          </a>
        </li>

         <li class="item item_icon_d">
          <a href="http://xa.yijiazhuang.cn/Index/index.shtml" class="person_list_a "> 
            <span class="person_list__span">访问官网 </span> <!-- 需要进行判断，若网上发现新版本，则提示需要更新，即添加CSS样式（class="person_list_a） -->
          </a>
        </li>
        
        <li class="item item_icon_d">
          <a  href="" class="person_list_a ">  <!-- 连接到可以下载APP的网址或点击自动更新 -->
            <span class="person_list__span">版本更新<i class="ion-information-circled"></i> </span> 
          </a>
        </li>
      </ul>
     </div>

</ion-content>

</ion-modal-view>