
<ion-modal-view ng-controller="myCtrl">
  <ion-header-bar class="bar-positive">
    <!-- <h1 class="title" >装修类型<a class="modalClose" ng-click="decorateNeedDone()">完成</a></h1> -->
    <h1 class="title" >装修类型</h1>
  </ion-header-bar>
	<ion-content class="person_content" >
	    <!--个人信息主体-->
		<ul class="list">
			<ion-radio class="item" ng-repeat="item in decoType" ng-value="item.decorateTypeId" ng-model="userData.bidder.decorateType.val" ng-click="decorateNeedClick(item)">{{item.txt}}</ion-radio>
		</ul>
				
	</ion-content>
</ion-modal-view>