
<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title" >重设密码<a class="modalClose" ng-click="closeModal()">取消</a></h1>
  </ion-header-bar>
  <ion-content style="padding:10px;">

    <div class="yzm_div">
      <p class="yzm_span" style=" text-indent:2em;">手机通过验证后，系统会将新密码发送给您以登录系统，您可以在系统中修改密码</p>
       <div class="list padding">
          <label class="item item-input ion-person">
            <input type="text" placeholder="手机号码"  ng-model="user.telephone" >
          </label>
          <div style="margin: 10px 0; overflow:hidden;">
            <input type="text" placeholder="短信验证码" ng-model="user.password" class="input_validSend">
            <a href="" class="{{btnSend.classname || 'btn_validSend'}}" ng-click="validSend()">{{btnSend.txt || '发送短信验证码'}}</a>
          </div>
       </div>
      </label>
    </div>
    <span  class=" ">
      <a href="" class="button button-block button-positive02" ng-click="operateSuccess()">下一步 </a>
      <p class="fal_right">  <a href="#" class="zi">收不到验证码？</a></p>
    </span>

  </ion-content>
</ion-modal-view>