
<ion-modal-view ng-controller="personCtrl">
  <ion-header-bar class="bar-positive">
    <h1 class="title" >所在地区<a class="modalClose" ng-click="doneArea()">完成</a></h1>
  </ion-header-bar>
  <ion-content style="padding:10px;">
      <div class="person_block magrin_t20">
			  <div class="item item-input ">
    			<input type="text" placeholder="请输入您所在的区域" ng-model="userData.area" >
    			<span class="persond ion-ios-close"  ng-click="clearArea()"></span>
  			</div>
	   </div>
  </ion-content>
</ion-modal-view>
