
<ion-view>
	<ion-header-bar class="bar-positive">
	    <h1 class="title">操作成功<a class="modalClose" ng-click="closeModal()">关闭</a></h1>
	</ion-header-bar>

	<ion-content class="padding botm56" has-bouncing="false">
	    <div class="yzm_success">
	        <span class="ion-checkmark-circled color_or" data-pack="default" data-tags="complete, finished, success, on">&nbsp;</span>
	        <span class="reg_span"> 恭喜您,操作成功</span>
	    </div>
	    <p class="reg_span" style="text-align:center; color#2095FF; font-size:14px;"> <i style="color:#f00;">{{resultSecond.lastSecond}}</i>秒后自动跳转到个人中心</p>
  	</ion-content>
</ion-view>