<ion-modal-view ng-controller="myCtrl">
  <ion-header-bar class="bar-positive">
    <h1 class="title" >易家装服务条款<a class="modalClose" ng-click="closeModal()">关闭</a></h1>
  </ion-header-bar>

	<ion-content  class="person_content">
		<div class="items">
		    <div class="items_txt">
		        <h4>易家装免责声明</h4>
		        <p>本声明为使用《易家装》提供服务之条款，凡阅览本网站的用户，均表示接受以下条款。西安易骆驼信息科技有限公司保留对本网站所包含的信息和材料及显示的条款、条件和说明进行变更的权利，变更自公布其生效。</p>
		        <p>1、您在进入本网站前应认真阅读本协议。现在确认您已经进入本网站并自愿遵守本协议项下的各条款。</p>
		        <p>2、我们对本网站中所有网页上的商标、文字、图形及其他可视性标识，均享有商标权或著作权（与我们合作的关联公司、合作方已享有商标权或著作权除外）。您未经许可不得修改、复制、或以其他方式使用上述商标、标识及图形。</p>
		        <p>3、我们保留对本网站的条款进行修改、增加或删除部分条款的权利。</p>
		        <p>4、我们对于您通过本网站或网站中的论坛登载、显示或发布的任何信息的准确性、完整性或可靠性不承担任何保证义务。</p>
		        <p>5、本网站包含的内容均受著作权保护并由我们或我们的关联公司、合作方所有并授权本网站使用。</p>
		        <p>6、互联网传输可能会受到干扰，出现中断、延迟或数据错误等现象。对于非本站的原因可能引起的数据及交易的不准确性或不及时性，我们不承担任何责任。</p>
		        <p>8、本网站到第三方网站的链接仅作为一种方便服务提供给第三方，如果使用这些链接，您将离开本网站。我们没有审查过任何第三方网站，对这些网站及其内容不进行控制，也不负任何责任。如果您决定访问任何与本站链接的第三方网站，其可能带来的结果和风险全部由您本人承担。</p>
		        <p>9、我们对您通过本网站与第三方之间的任何交易所发生的任何损害不承担赔偿责任。</p>
		    </div>
    	</div>
	</ion-content>
</ion-modal-view>