<!-- 侧边栏 -->
  <!-- 点击侧边栏 进行相应判断 1:设计师  2：业主 3：装修公司 4：监理 5：商家 -->

<div class="search_left">
	 <span>
	 <a ng-click="choose(1)"><img src="{{img1 || 'images/role_desginer.jpg'}}" style="float:left; width:50px; height:45px;"></a>
	 <a ng-click="choose(2)"><img src="{{img2 || 'images/role.png'}}" style="float:left; width:50px; height:45px;"></a>
	 <a ng-click="choose(3)"><img src="{{img3 ||  'images/ren.jpg'}}" style="float:left; width:50px; height:45px;"></a>
	 <a ng-click="choose(4)"><img src="{{img4 || 'images/role_super.jpg'}}" style="float:left; width:50px; height:45px;"></a>
	 <a ng-click="choose(5)"><img src="{{img5 || 'images/role_buy.jpg' }}" style="float:left; width:50px; height:45px;"></a>
	 </span>
</div>

