<ion-content class="margin10">
  <div class="title2">业主详情<a a class="modalClose" ng-click="masklayerClick2()">关闭</a></div>
  <div class="padding">
  <ul>
      <li class="item searc_border_bottom " >
           <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="person_photo_img02"></a>
           <p class="fal_left sty magrin_t20" >
              <span> <i class="font-size16">赵先生 </i></span>
              <span><i> 陕西西安</i><i>雁塔区</i><i>太白小区</i></span>
           </p>
       </li>
  </ul> 
  </div>

  <div class="search_title padding">
      <p>装修信息 </p>
      <i> 西安雁塔区</i>|<i> 西安雁塔区</i>|<i> 西安雁塔区</i>|<i> 西安雁塔区</i>|<i> 西安雁塔区</i>
  </div>

  <div class="search_title padding">
       <p>设计要求 </p>
       <span>
       设计，是一连串沟通与需求的激荡 以品味和专业穿针引线 将动线、机能、收纳等实用功能隐喻于美学之中 融入自然环境与文化 设计，由此有了呼吸的温度。
       </span>
  </div>

  <div class="search_title padding">
      <p>参考户型案例 </p>
      <ul class="housetype">
         <li><span> <img src="images/biao_img01.png" ></span> </li>
         <li><span> <img src="images/biao_img01.png" ></span> </li>
         <li><span> <img src="images/biao_img01.png" ></span> </li>
      </ul>
  </div>

  <div class="search_title ">
     <p>中标设计 </p>
  </div>

  <div>
  <ul>
        <li class="item searc_border_bottom " >
             <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="person_photo_img02"></a>
             <p class="fal_left sty magrin_t20" >
              <span> <i class="font-size16">吴建华 </i> <i>初级设计师</i></span>
              <span class=""><a href="" class="house_icon">收藏</a><a href="" class="house_icon"> 预约</a></span>
             </p>
        </li>
  </ul>
  <ul class="housetype">
       <li><span> <img src="images/biao_img01.png" ></span> </li>
       <li><span> <img src="images/biao_img01.png" ></span> </li>
       <li><span> <img src="images/biao_img01.png" ></span> </li>           
   </ul> 
  </div>

  <div class="search_title ">
      <p>中标装修公司 </p>
  </div>
  <div>
  <ul>
        <li class="item searc_border_bottom " >
            <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="person_photo_img02"></a>
            <p class="fal_left sty magrin_t20" >
             <span> <i class="font-size16">吴建华 </i> <i>初级设计师</i></span>
             <span class=""><a href="" class="house_icon">收藏</a><a href="" class="house_icon"> 预约</a></span>
            </p>
        </li>
  </ul>
 </div>

  <div class="search_title padding">
        <span>公司地址：西安市雁塔区雁翔路曲江会展国际D座7层 </span>
        <span>服务类型：施工：家装,工装|设计：|免费服务：免费量房,免费设计,免费出预算 方案|承包方式：半包,全包,全包带软装</span>
  </div>
  <div class="search_title ">
      <p>验收报告 </p>
      <span><i class="font-size14">水电</i>  <i>2015.09.09-2015.09.09</i>  <a href="" class="blue">已完成√</a></span>
      <ul class="housetype">
           <li><span> <img src="images/biao_img01.png" ></span> </li>
           <li><span> <img src="images/biao_img01.png" ></span> </li>
           <li><span> <img src="images/biao_img01.png" ></span> </li>           
       </ul> 
     <span>总结：水电已验收完成。</span>
     <span><i class="font-size14">水电</i>  <i>2015.09.09-2015.09.09</i>  <a href="" class="Orange">已完成√</a></span>
     <span>正在等待上传验收报告。</span>
    </div>   
</div>
</ion-content>

