<ion-content class="margin10">
    <div class="title2">监理详情<a a class="modalClose" ng-click="masklayerClick2()">关闭</a></div>
<div class=" padding"> 
      <ul class="list height " >
      <li>
             <img src="{{supervision2.photo}}"  class="person_photo_img03 fal_left">
              <span class="des_name">
                <i>姓名：{{supervision2.realname}}</i>
                <i>等级：{{supervision2.type}}</i>
                <i>收费：<span>{{supervision2.desginCost}}</span></i>
                <i>评分：{{supervision2.desginScore}}</i>
                <!-- <i ng-click="roomReservations()" desginer>{{decorcompany.state}}</i> -->
<!--                 <div ng-click="makeAppointment(supervision2
.state)" class="icon01 blue fal_left ">{{supervision2
.state}}</div> -->
              </span>
      <div class="des_intro">
        <p>个人简介 </p>
        <span>
               {{supervision2.introduction}}
        </span>
      </div>
      <div class="des_intro">
        <p>擅长风格 </p>
        <a href="">现代</a><a href="">现代</a><a href="">现代</a><a href="">现代</a><a href="">现代</a><a href="">现代</a>
      </div>
      <div class="des_img">
        <p>设计作品 </p>
        <a href=""><img src="{{supervision2.works.img1}}" ></a>
        <a href=""><img src="{{supervision2.works.img2}}" ></a>
        <a href=""><img src="{{supervision2.works.img3}}" ></a>
      </div>
      </li>
    </ul>
</div> 
</ion-content>