<ion-scroll>
<div class="search_right"> 
      <ul class=" padding " >
      <li class="" ng-modal="supervisionElem.img">
             <img src="{{singleData.photo}}"  class="person_photo_img03 fal_left">
              <span class="des_name font-size12">
                <i>姓名：{{singleData.realname}}</i>
                <i>等级：{{singleData.type}}</i>
                <i>从业时间：{{singleData.time}}</i>
                <i>负责城市：{{singleData.cicty}}</i>
                <i ng-click="supervisionReservations()" desginer6>{{singleData.state}}</i>
                <i>姓名：{{supervision[0].name}}</i>
                <i>等级：{{supervision[0].type}}</i>
                <i>从业时间：{{supervision[0].time}}</i>
                <i>负责城市：{{supervision[0].cicty}}</i>
                <div ng-click="supervisionReservations()"  class="icon01 blue fal_left">{{supervision[0].state}}</div>

              </span>

          <div class="des_intro">
            <p>个人简介 </p>
            <span>
                   {{singleData.introduction}}
            </span>
          </div>
          <div class="des_img">
            <p>监理案例 </p>
              <p>房屋信息及验收日志</p>
           
            <ul class="housetype">
              <li> <a href=""><img src="{{singleData.works.img1}}" ></a></li>
              <li> <a href=""><img src="{{singleData.works.img1}}" ></a></li>
              <li> <a href=""><img src="{{singleData.works.img1}}" ></a></li>
            </ul>
           <span class="huose_type">
               <i>小区:</i>
               <i>业主:</i>
               <i>房型:</i>
               <i>面积:</i>
               <i>户型:</i>
               <i>风格:</i>
            </span>
            <span class="super_p">
              <p>1.水电验收:首创漫香郡新中式设计日志</p>
              <p>2.泥木验收:首创漫香郡新中式设计日志</p>
              <p>3.油漆验收:首创漫香郡新中式设计日志</p>
              <p>4.竣工验收:首创漫香郡新中式设计日志</p>
            </span>
            <p>正在监理 </p>
                <p>房屋信息及验收日志</p>
            <span class="huose_type">
               <i>小区:</i>
               <i>业主:</i>
               <i>房型:</i>
               <i>面积:</i>
               <i>户型:</i>
               <i>风格:</i>
            </span>
           <span class="super_p">
              <p>1.水电验收:首创漫香郡新中式设计日志</p>
              <p>2.泥木验收:首创漫香郡新中式设计日志</p>
              <p>3.油漆验收:首创漫香郡新中式设计日志</p>
              <p>4.竣工验收:首创漫香郡新中式设计日志</p>
            </span>
          </div>
      </li>
    </ul>
  </div>
<ion-scroll>