
<ion-slide >
<div class="title2"><a class="title" >中标</a><a class="modalClose" ng-click="closeTemplate2()">关闭</a></div>

   <div class="padding">
   	 <ul class="list height padding_top " >
      <li class="" tyle=" background:#ff0000">
             <img src="{{desginElem.img}}"  class="person_photo_img03 fal_left">
              <span class="des_name">
                <i>{{desginElem.name}}</i>
                <i>{{desginElem.type}}</i>
                <i>设计收费：<span>500-100</span></i>
                <i>评分：5</i>
              </span>
          
          <div class="des_img">
            <p>设计作品 </p>
            <a href=""><img src="images/biao_img01.png" ></a>
            <a href=""><img src="{{desginElem.works.img2}}" ></a>
            <a href=""><img src="{{desginElem.works.img3}}" ></a>
          </div>
      </li>
    </ul>
   </div>
</ion-slide >


