<ion-slide>
<div class="title2"><a class="title" >公司详细信息</a><a class="modalClose" ng-click="closeTemplate2()">关闭</a></div>

<div class="padding White">
    <div class="des_top">
     <img src="{{companyElem.img}}"  class="person_photo_img03 fal_left">
      <span class="des_name">
        <i>{{companyElem.name}}</i>        
        <i>{{companyElem.score}}</i>
        <i><a href="" class="icon01 blue fal_left"  ng-click="companyReservations(companyElem)" company1>{{companyElem.state}}</a></i>
      </span>
    </div>  
    
  <div class="des_intro02" ng-show="typeA">
        <p>公司简介</p>
            <span class="font-size12">{{companyElem.instruction}}</span>
  </div>   
  <div class="des_intro02" ng-show="typeB">
    <p>装修案例</p>
     <ul class="reaov_img ">
     <li class="">
      <img src="{{evalCopmany.img || 'images/upload.jpg'}}" ng-click="masklayerClickA()">
      <img src="{{evalCopmany.img || 'images/upload.jpg'}}" >
      <img src="{{evalCopmany.img || 'images/upload.jpg'}}">
    </li>
    </ul>
  </div>

  <div class="des_intro02" ng-show="typeG">
    <p>设计团队</p>
    <ul class=" reaov_img">
     <li class="">
      <img src="{{evalCopmany.img || 'images/upload.jpg'}}" >
      <img src="{{evalCopmany.img || 'images/upload.jpg'}}" >
      <img src="{{evalCopmany.img || 'images/upload.jpg'}}" >    
    </li>
  </div>


   <div class="des_intro02" ng-show="typeH">    
    <p>公司资质</p>   
    <ul class="reaov_img">
     <li class="">
      <img src="{{evalCopmany.img || 'images/upload.jpg'}}" >
      <img src="{{evalCopmany.img || 'images/upload.jpg'}}" >
      <img src="{{evalCopmany.img || 'images/upload.jpg'}}" >
    </li>
    </ul>
   </div>


</ion-slide>
