<ion-modal-view ng-controller="decorateCtrl">
  <ion-header-bar class="bar-positive02">
    <h1 class="title" >手机号码<a class="modalClose" ng-click="phoneType()">完成</a></h1>
  </ion-header-bar>



  <ion-content  class="bottom56">
    <!--个人信息主体-->
    <div class="padding">
        <label class="item item-input ">
         <input type="text" placeholder="请输入手机号" ng-model="userData.telephone">
        </label>
<!--        <a href="" class="button button-block button-positive02"> 获取验证码</a>
    
<label class="item item-input ">
 <input type="text" placeholder="请输入验证码"   >
      </label>
      <a href="" class="button button-block button-positive02"> 取消</a> -->
    </div>


  </ion-content>  
 
</ion-view>

