<!-- <ul class="base_ul">
   <li>
    <p class="base_title02" >房屋信息</p>
     <a ><span class="person_span_left">房型：{{postdata.HouseInfo.HouseType || '请选择'}}</span> </a>
     <a ><span class="person_span_left">装修类型：{{postdata.HouseInfo.DecorationType || '请选择'}}</span> </a> 
     <a ><span class=" person_span_left">小区：{{decorateInfo.house.realname || '请输入小区名称'}}</span> </a>
     <a ><span class=" person_span_left">面积：{{decorate.space.txt || '请输入'}}</span> </a>
     <a ><span class=" person_span_left">户型：{{postdata.HouseInfo.units || '请选择'}}</span> </a>
     <p class="base_title02" >装修要求</p>
     <a ><span class=" person_span_left">风格：{{postdata.HouseInfo.decorateStyle || '请选择'}}</span> </a>
     <a ><span class=" person_span_left">装修预算：{{postdata.HouseInfo.budget || '请选择'}}</span> </a>
     <a ><span class=" person_span_left">房屋情况：{{postdata.HouseInfo.situation || '请选择'}}</span> </a>
     <p class="base_title02" >设计方式</p>
    <a ><span class="person_span_left">设计方式：{{postdata.HouseInfo.designModes|| '请选择'}}</span></a>
      <a ><span class="person_span_left">设计花费：{{postdata.HouseInfo.designCost+"元/平米"  || '请选择'}}</span> </a>
      <p class="base_title02" >联系方式</p>
      <a ><span class="person_span_left">姓名：{{decorate.user.name || '请输入'}}</span> </a>
      <a ><span class="person_span_left">联系电话：{{decorate.user.telephone || '请输入'}}</span> </a>
   </li>
</ul> -->
<!-- 邀请设计 -->
<ul class="dfrex "  >
  <li class="item searc_border_bottom " >
   <img  src="images/photo_img.png" class="desgin_photo_little" >
      <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="bid_img">
      </a>
      <p class="fal_left sty  magrin_t20" >
       <span> <i class="font-size16">吴建华 </i> <i>初级设计师</i></span>
        <span>设计报价：100￥/㎡</span>
         <span class=""><a href="" class="house_icon">收藏</a><a href="" class="house_icon"> 预约</a></span>
      </p>
  </li>
    <li class="item searc_border_bottom " >
   <img  src="images/photo_img.png" class="desgin_photo_little" >
      <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="bid_img">
      </a>
      <p class="fal_left sty magrin_t20" >
       <span> <i class="font-size16">吴建华 </i><i>初级设计师</i></span>
       <span>设计报价：100￥/㎡</span>
       <span class=""><a href="" class="house_icon">中标</a><a href="" class="house_icon">淘汰</a></span>
      </p>
  </li>
       <li class="item searc_border_bottom " >
   <img  src="images/photo_img.png" class="desgin_photo_little" >
      <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="bid_img">
      </a>
      <p class="fal_left sty magrin_t20" >
       <span> <i class="font-size16">吴建华 </i><i>初级设计师</i></span>
      <span>设计报价：100￥/㎡</span>
       <span class=""><a href="" class="house_icon">中标</a><a href="" class="house_icon">淘汰</a></span>      
      </p>
  </li>
 </ul>