 <ul class="base_ul">
    <li>
        <span class="person_span_left">房型：{{postdata.HouseInfo.HouseType || '请选择'}}</span> 
        <span class="person_span_left">装修类型：{{postdata.HouseInfo.DecorationType || '请选择'}}</span> 
        <a ><span class=" person_span_left">小区：{{decorateInfo.house.realname || '请输入小区名称'}}</span> </a>
        <a ><span class=" person_span_left">面积：{{decorate.space.txt || '请输入'}}</span> </a>
        <a ><span class=" person_span_left">户型：{{postdata.HouseInfo.units || '请选择'}}</span> </a>
        <a ><span class=" person_span_left">风格：{{postdata.HouseInfo.decorateStyle || '请选择'}}</span> </a>
        <a ><span class=" person_span_left">装修预算：{{postdata.HouseInfo.budget || '请选择'}}</span> </a>
        <a ><span class=" person_span_left">房屋情况：{{postdata.HouseInfo.situation || '请选择'}}</span> </a>
    </li>
    
</ul>
<div class="dfrex "></div>