
<!-- <ion-refresher
  pulling-text="下拉刷新..."
  on-refresh="doRefresh()">
</ion-refresher> -->
<ion-refresher pulling-text="刷新中......" on-refresh="vm.doRefresh()"></ion-refresher>
<ion-slide >
  <div class="title2"><a class="title" >公司列表</a></div>
  <div class="padding ">
    <ul class="seach_a">
            <li><a ng-click="choice('公司评分')" class="a2">按评分</a></li>
            <li><a ng-click="choice('公司价格')" class="a2">按价格</a></li>
            <li><a ng-click="choice('公司热门')" class="a2">按热门</a></li>
           </ul> 
       <li class="item" ng-repeat="com in decorateCompany | fuzzyBy : type : search | orderBy : expression" company>
           <a class="fal_left"><img src="{{com.img}}" class="person_photo_img02">
           </a>
           <p class="fal_left invit_information">
            <span> 名称: <i>{{com.name}}</i></span>
            <span> 评分：<i>{{com.desginScore}} 分</i></span>
            <span> 服务类型：<i>{{com.serviceType}} </i></span>
            <span> 价格：<i>{{com.desginCost}} ￥/㎡</i></span>
           </p>
       </li>
     </ul>
 </div>
    <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
    <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="1%" ></ion-infinite-scroll>
 </ion-infinite-scroll>
</ion-slide>