<!-- 支付监理费 -->
 <ion-header-bar class="bar-positive">
<h1 class="title" >支付监理费<a class="modalClose" ng-click="closeTemplate2()">关闭</a></h1>

</ion-header-bar>

<ion-slide >
    <ul class=" height White">
      <li class="  height" >
       <div class="padding magrin_t40">
           <span class="pay fal_left" >监理费:<i>{{supervisionComplete.cost+"元" || '暂无数据'}}</i></span>
           <span class="pay_assess" ><i class="ion-help-circled"></i> 
               支付监理费是为了提供更好的服务
           </span>
          <a class="pay_icon magrin_t20" desginer>支付 </a>
          </div>
      </li>
      
    </ul>
</ion-slide >
