
<ion-slide >
  <div  style="margin-top:20px;">
    <div class="search_title padding">
      <p>效果图及说明 </p>
      <ul class="housetype">
        <li><span><img src="images/biao_img01.png" ><span> </li>
        <li><span><img src="images/biao_img01.png" ><span> </li>
        <li><span><img src="images/biao_img01.png" ><span> </li>           
      </ul>    
    </div>

    <div class="search_title padding">
      <p>施工图 </p>
      <ul class="housetype">
        <li><span><img src="images/biao_img01.png" ><span> </li>
        <li><span><img src="images/biao_img01.png" ><span> </li>
        <li><span><img src="images/biao_img01.png" ><span> </li>           
      </ul>    
    </div>

    <div class="search_title padding">
      <p>设计概算 </p>
      <ul class="housetype">
        <li><span><img src="images/biao_img01.png" ><span> </li>
        <li><span><img src="images/biao_img01.png" ><span> </li>
        <li><span><img src="images/biao_img01.png" ><span> </li>           
      </ul>    
    </div>

    <div>
      <span class="">
        <a ng-click="masklayerClickT('templates/main/evaluationDesginer.html')" class="clicke_abig">评价设计师</a>
      </span> 
    </div>
  </div> 
</ion-slide >


  