<ion-view view-title="易家生活馆" ng-controller="livingMuseumIndexCtrl">

 <ion-nav-buttons side="right">
  <i class="icon ion-ios-cart-outline" style="font-size: 24px; margin-right: 10px; margin-top: 5px; display: block; width: 40px; height: 40px; text-align: center" ng-click="dingwei()"></i>
    <!-- <button class="button ion-location" ng-click="doSomething()">I'm </button> -->
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
   <i class="icon ion-ios-location-outline" style="font-size: 24px; margin-left: 10px;margin-top: 5px; " ng-click="openModal()">
    <span style="font-size: 14px; float: right; margin-top: 2px;margin-left: 5px;">陕西西安</span>
  </i>
   <!--  <button class="button ion-location" ng-click="doSomething()"></button> -->
  </ion-nav-buttons>



      <ion-content class="padding">


<div>sdfsfs</div>


      </ion-content>



</ion-view>