<ion-view view-title="邀请设计" ng-controller="decorateCtrl"  ng-init="initData()">
  <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-chevron-left"></ion-nav-back-button>
  </ion-nav-bar> 



  <ion-content class="">
	<!-- <div class="padding">
	<ul class="list invit_list">
		<li class="invit_list_li"> 
			<a href="#"><img src="images/photo_img.png" class="person_photo_img"> </a>
			<span>高级设计师 </span> 
			<a href="" class="inivt_list_button"> 邀请</a>	
		</li>
		<li class="invit_list_li"> 
			<a href="#"><img src="images/photo_img.png" class="person_photo_img"> </a>
			<span>高级设计师 </span> 
			<a href="" class="inivt_list_button"> 邀请</a>	
		</li>
					<li class="invit_list_li"> 
			<a href="#"><img src="images/photo_img.png" class="person_photo_img"> </a>
			<span>高级设计师 </span> 
			<a href="" class="inivt_list_button"> 邀请</a>	
		</li>
					<li class="invit_list_li"> 
			<a href="#"><img src="images/photo_img.png" class="person_photo_img"> </a>
			<span>高级设计师 </span> 
			<a href="" class="inivt_list_button"> 邀请</a>	
		</li>
					<li class="invit_list_li"> 
			<a href="#"><img src="images/photo_img.png" class="person_photo_img"> </a>
			<span>高级设计师 </span> 
			<a href="" class="inivt_list_button"> 邀请</a>	
		</li>
					<li class="invit_list_li"> 
			<a href="#"><img src="images/photo_img.png" class="person_photo_img"> </a>
			<span>高级设计师 </span> 
			<a href="" class="inivt_list_button"> 邀请</a>	
		</li>
	</ul>
	
	</ul>
	</div>
	   <div class="padding">
	   	
	   	<ul class="list invit_work_show">
	   		<li> 
	   			<div> 
	   				<a href=""><img src="images/photo_img.png" class="person_photo_img02"> <a> 
	   				<span class="invit_name_intro"><i>xibingru</i><i>初级设计师</i></span>
	   				<a href="" class="inivt_tip01">中标</a>  
	   				<a href="" class="inivt_tip02">淘汰</a>
	   			</div>
	   			<a  href=""class="invit_desing_show"><img src="images/biao_img01.png" class=""> </a>
	   		</li>
	   		<li> 
	   			<div> 
	   				<a href=""><img src="images/photo_img.png" class="person_photo_img02"> <a> 
	   				<span class="invit_name_intro"><i>xibingru</i><i>初级设计师</i></span>
	   				<a href="" class="inivt_tip01">中标</a>  
	   				<a href="" class="inivt_tip02">淘汰</a>
	   			</div>
	   			<a  href=""class="invit_desing_show"><img src="images/biao_img01.png" class=""> </a>
	   		</li>
	   	</ul>
	   </div> -->
   <ion-view view-title="装修公司" ng-controller="desginaccCtrl"  ng-init="initData()">

  <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-chevron-left"></ion-nav-back-button>
  </ion-nav-bar> 
  <ion-content  class="">

     <div >
      <span class="desgincc_title">免费设计</span>
<ul class=" ">
 <li class="item searc_border_bottom " >
     <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="person_photo_img02">
     </a>
     <p class="fal_left sty magrin_t20" >
      <span> <i class="font-size16">设计师名称 </i></span>
      <span><i> 初级设计师</i></span>
     </p>
 </li>
</ul> 
     <div class="search_title padding">
        <div class="margin_t_b10"><i> 房屋信息</i>|<i> 西安雁塔区</i>|<i> 西安雁塔区</i>|<i> 西安雁塔区</i>|<i> 西安雁塔区</i></div>
        <span>
   设计，是一连串沟通与需求的激荡 以品味和专业穿针引线 将动线、机能、收纳等实用功能隐喻于美学之中 融入自然环境与文化 设计，由此有了呼吸的温度。
   </span>
     </div>

   <p class="desgincc_title">验收设计方案 </p>
    
    <div class="des_intro03 padding">
       <span style="margin_t_b10">
       设计，是一连串沟通与需求的激荡 以品味和专业穿针引线 将动线、机能、收纳等实用功能隐喻于美学之中 融入自然环境与文化 设计，由此有了呼吸的温度。
       </span>
       <ul class="designcc_icon">
         <li>
           <span class="desgincc_pos"><img src="images/true_icon.jpg" /></span>
           <div class=" desgincc_zhou">
              <span>量房 (用时一天)</span>
              <div class="desgincc_img">
                <a href=""> <img src="images/biao_img01.png"/></a>
                <a href=""> <img src="images/biao_img01.png"/></a>
                <a href=""> <img src="images/biao_img01.png"/></a>
              </div>
           </div>
         </li>
       </ul>
       <ul class="designcc_icon">
         <li>
           <span class="desgincc_pos"><img src="images/true_icon.jpg" /></span>
           <div class=" desgincc_zhou">
              <span>量房<i class="font-size12">(用时一天)</i></span>
              <div class="desgincc_img">
                <a href=""> <img src="images/biao_img01.png"/></a>
                <a href=""> <img src="images/biao_img01.png"/></a>
                <a href=""> <img src="images/biao_img01.png"/></a>
              </div>
           </div>
         </li>
       </ul>
       <ul class="designcc_icon">
         <li>
           <span class="desgincc_pos"><img src="images/true_icon.jpg" /></span>
           <div class=" desgincc_zhou">
               <span>量房<i class="font-size12">(用时一天)</i></span>
              <div class="desgincc_img">
                <a href=""> <img src="images/biao_img01.png"/></a>
                <a href=""> <img src="images/biao_img01.png"/></a>
                <a href=""> <img src="images/biao_img01.png"/></a>
              </div>
           </div>
         </li>
       </ul>
       <ul class="designcc_icon">
         <li>
            <span  class="desgincc_pos"><img src="images/true_icon_over.jpg" /></span>
           <div class=" desgincc_zhou">
              <span>量房 (用时一天)</span>
              <span>请等待设计师上传。</span>
           </div>
         </li>
       </ul>
    </div>
   </div>
  </ion-content>
  <ng-include src="'templates/public_bottom.html'"></ng-include>
</ion-view>

  </ion-content>
  <ng-include src="'templates/public_bottom.html'"></ng-include>
</ion-view>

