<ion-view view-title="已邀请" ng-controller="invitteamCtrl"  ng-init="initData()">
  <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-chevron-left"></ion-nav-back-button>
  </ion-nav-bar> 



  <ion-content class="">
    <!--个人信息主体-->
    <ul class="inivt_img">
      <li><a href="#"><img src="images/photo_img.png" ></a><p><a class="invit_home_icon">紫苹果装饰公司</a></p></li>
      <li><a href="#"><img src="images/photo_img.png" ></a><p ><a  href="#" class="invit_home_icon">预约量房</a></p></li>
       <li><a href="#"><img src="images/photo_img.png" ></a>
         <p ><a  href="#" class="invit_home_icon" >预约量房</a></p></li>
       <li><a href="#" ><img src="images/photo_img.png" ></a><p><a class="invit_home_icon">紫苹果装饰公司</a></p></li>
       <li><a href="#"><img src="images/photo_img.png" ></a><p ><a  href="#"   class="invit_home_icon02">预约量房</a></p></li>
       <li><a href="#"><img src="images/photo_img.png" ></a><p ><a  href="#"  class="invit_home_icon">预约量房</a></p></li>
       <li><a href="#"><img src="images/photo_img.png" ></a><p ><a  href="#" class="invit_home_icon" >预约量房</a></p></li>
    </ul>    
  </ion-content>
  <ng-include src="'templates/public_bottom.html'"></ng-include>
</ion-view>

