<ion-view view-title="装修公司" ng-controller="reaovcenterCtrl"  ng-init="initData()">

  <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-chevron-left"></ion-nav-back-button>
  </ion-nav-bar> 
  <ion-content  >
    <!--个人信息主体-->





    <div class="search_color">
      
       <div class="search_left">
          <span>
          <a href=""><img src="images/role.png"  style="float:left; width:50px; height:45px;"></a>
          <a href=""><img src="images/role.png"  style="float:left; width:50px; height:45px;"></a>
          <a href=""><img src="images/role.png"  style="float:left; width:50px; height:45px;"></a>
          <a href=""><img src="images/role.png"  style="float:left; width:50px; height:45px;"></a>
          <a href=""><img src="images/role.png"  style="float:left; width:50px; height:45px;"></a>
          </span>
       </div>
       <div class="search_right"> 
            <ul class="seach_a">
             <li><a href="">初级设计师</a></li>
             <li><a href="">初级设计师</a></li>
             <li><a href="">初级设计师</a></li>
             <li><a href="" class="a2">初级设计师</a></li>
             <li><a href="">初级设计师</a></li>
             <li><a href="">初级设计师</a></li>
            </ul>

             <ul class="search_photo ">
              <li class=" padding" >
                  <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="person_photo_img02">
                  </a>
                  <p class="fal_left sty" >
                   <span> 设计师: <i class="font-size16">xibingru </i></span>
                   <span> 等级:<i> 5</i>级</span>
                   <span> 擅长风格<i>简欧，宜家</i>年</span>
                   <span> 设计费用<i>50-80元/㎡</i>年</span>
                  </p>
              </li>
              <li class=" padding" >
                  <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="person_photo_img02">
                  </a>
                  <p class="fal_left sty" >
                   <span> 设计师: <i class="font-size16">xibingru </i></span>
                   <span> 等级:<i> 5</i>级</span>
                   <span> 擅长风格<i>简欧，宜家</i>年</span>
                   <span> 设计费用<i>50-80元/㎡</i>年</span>
                  </p>
              </li>
              <li class="padding" >
                  <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="person_photo_img02">
                  </a>
                  <p class="fal_left sty" >
                   <span> 设计师: <i class="font-size16">xibingru </i></span>
                   <span> 等级:<i> 5</i>级</span>
                   <span> 擅长风格<i>简欧，宜家</i>年</span>
                   <span> 设计费用<i>50-80元/㎡</i>年</span>
                  </p>
              </li>
              <li class=" padding" >
                  <a  href ="#/main/desginCenter" class="fal_left"><img src="images/photo_img.png" class="person_photo_img02">
                  </a>
                  <p class="fal_left sty" >
                   <span> 设计师: <i class="font-size16">xibingru </i></span>
                   <span> 等级:<i> 5</i>级</span>
                   <span> 擅长风格<i>简欧，宜家</i>年</span>
                   <span> 设计费用<i>50-80元/㎡</i>年</span>
                  </p>
              </li>
             </ul> 
       </div> 

    </div>
  </ion-content>
  <ng-include src="'templates/public_bottom.html'"></ng-include>
</ion-view>

