 <ion-view view-title="装修公司" ng-controller="superCtrl"  ng-init="initData()">

  <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-chevron-left"></ion-nav-back-button>
  </ion-nav-bar> 
  <ion-content >

    <div class="padding ">
        <div class="des_top">
         <img src="images/photo_img.png"  class="person_photo_img03 fal_left">
          <span class="des_name">
            <i>席冰茹</i>
            <i>资深监理</i>
            <i>评分:</i>
            <i><a href="" class="icon01 blue fal_left">邀请监理</a></i>
          </span>
     </div>

       <div class="des_intro">
        <p>个性签名 </p>
        <span>
        设计，是一连串沟通与需求的激荡 以品味和专业穿针引线 将动线、机能、收纳等实用功能隐喻于美学之中 融入自然环境与文化 设计，由此有了呼吸的温度。
        </span>
      </div>
      <div class="reaov_tab">
          <p class="reaov_click"><a class="a_click">装修实例</a><a> 公司资质</a> </p>
          <ul class="reaov_img">
            <li> <a href=""> <span>高新第五季高新第五季</span><img src="images/biao_img01.png"></a> </li>
            <li> <a href=""> <span>高新第五季高新第五季</span><img src="images/biao_img01.png"></a> </li>
          </ul>
      </div>
    </div>
  </ion-content>
  <ng-include src="'templates/public_bottom.html'"></ng-include>
</ion-view>



<!--  <ion-view view-title="邀请设计师" ng-controller="superCtrl"  ng-init="initData()">
 <ion-nav-bar class="bar-positive">
     <ion-nav-back-button class="button-icon ion-chevron-left"></ion-nav-back-button>
 </ion-nav-bar> 
 <ion-content >
     <div class="padding ">
       <div class="des_top">
        <img src="images/photo_img.png"  class="person_photo_img03 fal_left">
         <span class=" super_icon">
        
          <a href="" class="icon01 blue fal_left">邀请监理</a>
          <a href="" class="icon01 blue fal_left">更换监理</a>
         </span>
    </div>
     <div class="des_intro">
           <p>监理信息 </p>
           <span>
                  3就回家了回家后刻录机尽快了解韩国开奖号 酷狗开户个
           </span>
         </div>

  </div>
 </ion-content>
 <ng-include src="'templates/public_bottom.html'"></ng-include>
</ion-view>

-->